.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}
.profile-pic {
  border-radius: 9999px;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: block;
}
