.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-direction: column;
}
.myLinks {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-direction: column;
}
