.profilePicWrapper {
  /* styles for the wrapper div */
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.profilePic {
  /* styles for the profile picture */
  border-radius: 9999px;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: block;
}
